body {
  background-color: #c86b85;
}

.header {
  text-align: center;
  font-family: Montserrat;
  line-height: 12px;
}
.container {
  font-family: Montserrat;
  display: block;
  margin: 30px auto;
  background-color: #fdfbf7;
  max-width: 400px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 18px 50px -10px;
}

select {
  border: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: #fdfdfd;
  font-family: Montserrat;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.section:hover {
  transform: scale(1.05);
  transition: all 350ms ease-in-out;
}
.section:last-child {
  border: none;
}
.city {
  font-size: 20px;
  font-weight: bolder;
}
.time {
  font-size: 33px;
  font-weight: bold;
  font-family: Montserrat;
}
span {
  font-size: 10px;
  position: relative;
  top: -15px;
}
.date,
.country {
  font-family: Montserrat;
  font-size: 13px;
}
.date {
  opacity: 0.6;
}
.country {
  font-size: 11px;
  color: #e6a4b4;
  font-weight: bolder;
  position: relative;
  top: -13px;
}

.city-date {
  position: relative;
  top: 12px;
}
.back {
  display: block;
  margin: 20px 0 0 auto;
  position: relative;
  left: 5px;
  text-decoration: none;
  color: #e6a4b4;
  font-size: 12px;
}
footer {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #e6a4b4;
}
